<div class="container mt-5 shadow">
  <h2>New List</h2>
  <%= simple_form_for [@list] do |f| %>
    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>

    <%= f.submit "Submit list", class: "btn btn-primary" %>
  <% end %>
</div>
